/* Import the Merriweather font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');



body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #FCF5D8; /* Light pastel yellow */
    color: #2B374A; /* Deep navy text */
}

#content {
    padding: 20px;
    margin: auto;
}

#logo {
    margin: 10px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}


h1 {
    font-family: 'Merriweather', serif;
    color: #2B374A;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Merriweather', serif;
    color: ##178A94;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.data-section {
    margin: 20px 0;
    padding: 15px;
    #border: 2px solid #D3A77A; /* Warm tan for contrast */
    #border-radius: 8px;
    #background: #FFC3A9; /* Soft peachy-pink */
    color: #2B374A; /* Deep navy text for readability */
    font-weight: 400;
}

.data-section h2 {
    font-family: 'Merriweather', serif;
    margin: 0 0 10px;
    font-size: 22px;
    color: #178A94; /* Teal for section headings */
    font-weight: 700;
}

.data-section h3 {
    font-family: 'Merriweather', serif;
    margin: 0 0 10px;
    font-size: 22px;
    color: #178A94; /* Teal for section headings */
    font-weight: 700;
}

.data-section p {
    margin: 5px 0;
    color: #2B374A;
    font-weight: 300;
    line-height: 1.6; /* Improve readability */
}

ul {
    list-style: square;
    padding-left: 20px;
    color: #54938B; /* Calm teal */
    font-weight: 400;
}

ul li {
    color: #D077A2; /* Muted magenta for accents */
    margin-bottom: 5px;
}

table {
    width: auto;
    border: none;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 0px solid #000000;
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

table th {
    background-color: #2B374A; /* Teal header background */
    color: #FCF5D8; /* White text for good contrast */
    font-weight: 700;
}

caption {
    background-color: #2B374A; /* Teal header background */
    color: #FCF5D8; /* White text for good contrast */
    font-weight: 700;
}

table td {
    background-color: #FCF5D8; /* Soft pastel yellow cells */
    color: #2B374A; /* Deep navy text */
}

#instructors_table {
    position: absolute;
    bottom: 0px;
    width: auto;
    left: 0px;
    right: 15px;
}


#instructors_table_cap {
    position: absolute;
    bottom: 230px;
    width: 100%;
    left: 0px;
    right: 15px;
}

